*{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body{
    background: url('./img/bg.jpg');
}

.icon-image{
    width: 48px;
    margin-top: -16px !important;
}

.br-style{
    border-radius: 5px;
}